<html>
<head>
<meta charset="utf-8">
<title>Регистрация РАНХиГС</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
</head>
<body>
<h1 id="sb">Регистрация РАНХиГС</h1>

	<table id="sbtable">
		<tr id="sbtable1">
			<th>ФИО</th>
			<td><input type="text"</td>
		</tr>
	
		<tr id="sbtable2">
			<th>Средний бал</th>
			<td><input type="text"</td>
		</tr>
		<tr id="sbtable3">
			<th>Образование</th>
			<td><select name="Education">
				<option>Университет</option>
				<option>Школа</option>
				<option>Колледж</option>
			</select></td>
		</tr>
		<tr id="sbtable4">
			<th>Общественная деятельность</th>
			<td><select name="Education">
				<option>Да</option>
				<option>Нет</option>
			</select></td>
		</tr>
		<tr id="sbtable5">
			<th>Телефон</th>
			<td><input type="text"</td>
		</tr>
	
		<tr id="sbtable7">
			<th>Почта</th>
			<td><input type="text"</td>
		</tr>
		<tr id="sbtable6">
			<th>Паспорт</th>
			<td><input type="text"</td>
		</tr>
	</table><br>
	<input type="file" атрибуты>
	<input type="submit" value="Отправить">

</form>	
<table align="center">
	<th>Список студентов, подавших документы</th>
	<tr>
		<td>
			<img src="{{ url_for('static', filename="1.png") }}" width="50" height="50">
		</td>
		<td>
			Сыпало Дмитрий
		</td>
	</tr>
	<tr>
		<td>
			<img src="{{ url_for('static', filename="2.png") }}" width="50" height="50">
		</td>
		<td>
			Манджиева Виктория
		</td>
	</tr>
	<tr>
		<td>
			<img src="{{ url_for('static', filename="1.png") }}" width="50" height="50">
		</td>
		<td>
			Никифоров Григорий
		</td>
	</tr>
	<tr>
		<td>
			<img src="{{ url_for('static', filename="1.png") }}" width="50" height="50">
		</td>
		<td>
			Байда Артем
		</td>
	</tr>
	<tr>
		<td>
			<img src="{{ url_for('static', filename="2.png") }}" width="50" height="50">
		</td>
		<td>
			Соболькова Екатерина
		</td>
	</tr>

</table>
</body>	
</html>